.container {
  display: flex;
  margin: 80px;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.045em;
}

.email {
  font-size: 15px;
  font-weight: 500;
}

/*hide on mobile screens*/

@media only screen and (max-width: 768px) {
  .container {
    display: none;
  }
}
