.container {
  background-color: #18181b;
  width: 100%;
  border-radius: 10px;
  padding: 40px;
  margin-top: 60px;
}

.name {
  font-size: 20px;
  font-weight: 700;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}


.progress {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 100%;
}

.progressValue {
  /* animation: load 3s normal forwards; */
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  /* width: %; */
  transition: width 0.5s;
}


@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 0%;
  }
}