.container {
  background-color: #ffffff;
  width: 100%;
  border-radius: 10px;
  padding: 40px;
  margin-top: 60px;
  color: #000;
}

.name {
  font-size: 26px;
  font-weight: 700;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}


.progress {
  background: rgb(218, 218, 218);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 100%;
}

.progressValue {
  /* animation: load 3s normal forwards; */
  box-shadow: 0 10px 40px -10px rgb(0, 0, 0);
  border-radius: 10px;
  background: rgb(0, 0, 0);
  height: 30px;
  /* width: %; */
  transition: width 0.5s;
}


@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 0%;
  }
}