.heading {
  font-weight: 600;
  font-size: 44px;
  margin-top: 100px;
}

.subheading {
  font-weight: 400;
  font-size: 22px;
  margin-top: 30px;
  width: 80%;
  line-height: 155.52%;
}

.main {
  margin: 30px;
}

.mobile {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: none;
}

@media only screen and (max-width: 768px) {
  .desktop {
    display: none;
  }

  .main {
    margin: 40px 10px;
    display: flex;
    height: 100vh;
  }

  .mobile {
    display: flex;
  }

  .subheading {
    font-size: 18px;
  }
}
