.button {
  background-color: #fff;
  border: none;
  color: #000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 400;
}

.button:hover {
  box-shadow: 0 0 0 2px #fff;
}

.main {
  margin: 30px;
}
